:root{
  --site-width: min(1366px, 80vw);
 font-size:100%;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem; /* This accounts for the fixed navbar */
  }
body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
  }
.back-to-top {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.my-bg{
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    
}
.back-to-top.show {
  opacity: 1;
  visibility: visible;
}
nav {
    background-color: rgba(255, 255, 255, 0.278);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
}

#socialMediaPopup {
  transition: opacity 0.3s ease-in-out;
}

/* Add this to your existing CSS file */
#emailSignupPopup {
  z-index: 1000; /* Ensure the popup appears above other elements */
}

#socialMediaPopup {
  z-index: 1000; /* Ensure the social media popup also appears above other elements */
}